@model Puzzle

<link rel="stylesheet" href="~/css/puzzle.css" />
<h1>Puzzle #@Model.PuzzleId</h1>
<div id="container" oncontextmenu="return false">
    <table id="puzzleGrid">
         <tr class="topHint">
            <td></td>
        @for(int col = 1; col <= @Model.xSize; ++col)
        {
            <td>
                <ul class="hint" id="r0c@(col)"></ul>
            </td>
        }
        </tr>
        @for(int row=0; row < @Model.ySize; ++row)
        {
            <tr>
                @for(int col = 0; col <= @Model.xSize; ++col)
                {
                    @if(col == 0)
                    {
                        <td>
                            <ul id="r@(row)c0" class="hint leftHint"></ul>
                        </td>
                    }
                    else
                    {
                        <td class="puzzleCell" x="@row" y="@col"></td>
                    }
                }
            </tr>
        }
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/confetti/confetti.js"></script>
<script language="javascript" type="text/javascript">
     $(document).ready(function(){
         function fillHints(xSize, ySize, dataSet){
             //find the hint numbers for the top
             for(let x = 0; x < xSize; ++x){
                //count will count a horizontal grouping of filled cells
                let count = 0;
                //true if there are no boxes in a row/column
                let empty = true;
                for(let y = 0; y < ySize; ++y){
                    //if a cell is filled, add to count
                    if (dataSet[(xSize * y) + x] == '1'){
                         ++count;
                         empty = false;
                         //if last element in a column, add grouping to list
                         if(y == ySize - 1){
                             var ul = document.getElementById("r0c" + (x+1));
                             var li = document.createElement("li");
                             li.appendChild(document.createTextNode(count));
                             ul.appendChild(li);
                         }
                     }
                     //if an empty cell if reached, we add that grouping to list
                     else if(count > 0){
                        //reset count and add to list
                        var ul = document.getElementById("r0c" + (x+1));
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(count));
                        ul.appendChild(li);

                        count = 0;
                     }
                     //if there are no filled cells in a row/column
                     else if((y == ySize - 1) && empty){
                        var ul = document.getElementById("r0c" + (x+1));
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(0));
                        ul.appendChild(li);
                     }
                 }
             }
             //find hint numbers from the side
            for(let y = 0; y < ySize; ++y){
                //count will count a horizontal grouping of filled cells
                let count = 0;
                //true if there are no boxes in a row/column
                let empty = true;
                for(let x = 0; x < xSize; ++x){
                    //if a cell is filled, add to count
                    if (dataSet[(xSize * y) + x] == '1'){
                        ++count;
                        empty = false;
                        //if last element in a column, add grouping to list
                        if(x == xSize - 1){
                            var ul = document.getElementById("r" + (y) + "c0");
                            var li = document.createElement("li");
                            li.appendChild(document.createTextNode(count));
                            ul.appendChild(li);
                        }
                    }
                    //if an empty cell if reached, we add that grouping to list
                    else if(count > 0){
                        //reset count and add to list
                        var ul = document.getElementById("r" + (y) + "c0");
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(count));
                        ul.appendChild(li);
                        count = 0;
                    }
                    //if there are no filled cells in a row/column
                    else if((x == xSize - 1) && empty){
                        var ul = document.getElementById("r" + (y) + "c0");
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(0));
                        ul.appendChild(li);
                    }
                }
            }
         }
        //create an empty grid
        var gridLayout = new Array();
        for(var i = 0; i < @Model.ySize; ++i){
            gridLayout[i] = new Array();
            for(var j = 0; j < @Model.xSize; ++j){
                gridLayout[i][j] = 0;
            }
        }
        var trueGridLayout = new Array();
        var puzzleString = "@Model.puzzleData";
        for(var i = 0; i < @Model.ySize; ++i){
            trueGridLayout[i] = new Array();
            for(var j = 0; j < @Model.xSize; ++j){
                trueGridLayout[i][j] = parseInt(puzzleString[(@Model.xSize * i) + j], 10);
            }
        }
        

        $(".puzzleCell").mousedown(function(ev){
            var cellX = $(this).attr("x");
            var cellY = $(this).attr("y");

            
            //left click
            if(ev.which == 1){
                if(gridLayout[cellX][cellY - 1] == 1){
                    $(this).css("background-color", "white");
                    gridLayout[cellX][cellY - 1] = 0;
                    if(isWin(trueGridLayout, gridLayout)){
                        console.log("you win");
                    }
                }
                else{
                    $(this).css("background-color", "#212121");
                    gridLayout[cellX][cellY - 1] = 1;
                    if(isWin(trueGridLayout, gridLayout)){
                        console.log("you win");
                    }
                }
            }
            //right or middle click
            else{
                $(this).css("background-color", "lightgrey");
                gridLayout[cellX][cellY - 1] = 0;
                if(isWin(trueGridLayout, gridLayout)){
                    console.log("you win");
                }
            }
        });

        function isWin(answerArr, playerArr){
            for(let i = 0; i < answerArr.length; ++i)
                for(let j = 0; j < answerArr[i].length; ++j)
                    if(answerArr[i][j] != playerArr[i][j])
                        return false;
            confetti.start();
            return true;
        }

        console.log("start to fill hints");
        console.log("x:@Model.xSize y:@Model.ySize")
        console.log("puzzle data: " + "@Model.puzzleData");
        fillHints(@Model.xSize, @Model.ySize, "@Model.puzzleData");
        console.log("done filling hints");
     });
</script>